{% extends 'base.html.twig' %} {% block body %}
<br><br>
<br><br>

<div class="wrapper " id="nosotros">
        <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('{{ asset('assets/img/cover.jpg') }}');">
			<div class="filter"></div>
		</div>
        <div class="section profile-content">
            <div class="container">
                <div class="owner">
                    <div class="avatar">
                        <img  src="{{ asset('assets/img/faces/profile.jpeg') }}" alt="Circle Image" class="img-circles img-no-padding img-responsive">
                    </div>
                    <div class="name">
                        <h4 class="title font-habilidades">Manuel Agustin Lucero<br /></h4>
                         <h6 class="description text-center">Desarrollador</h6>
                    </div>
                </div>
               <div class="row section section-gray" >

                    <div class="col-md-6 offset-md-3 text-center">
                    <p class="font-italic tamaño" id="habilidades">
                       "Me presento soy Manuel Agustín Lucero, nací  el 27 de noviembre de 1995 , en el 2017 termine la carrera de Tecnicatura Superior en Desarrollo de Software. Me considero una persona muy capaz y que me gusta llevar todo a la perfección tanto en código como lo estético de la página.
Desde el 2015 vengo haciendo trabajos y proyectos de forma particular, siempre  tratando de aplicar nuevas tecnologías.
 "

</p>


                </div>
            
            </div>
        </div>
    </div>
<div class="main"  >
    <div class="" >
        <div class="container">
            <div class="row ">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h1 class=" title font-habilidades">Habilidades</h1>
                   
                </div>
            </div>
         
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="espacio">
                            <div class="progress blue "  >
                                <span class="progress-left " >
                                                <span class="progress-bar" ></span>
                                </span>
                                <span class="progress-right">
                                                <span class="progress-bar"></span>
                                </span>
                                <div  class="progress-value">90<span class="porcent">%</span></div>
                            </div>
                            <h3 class="text-center">HTML</h3>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="espacio">

                            <div class="progress blue">
                                <span class="progress-left">
                                    <span class="progress-bar"></span>
                                </span>
                                <span class="progress-right">
                                    <span class="progress-bar"></span>
                                </span>
                                <div class="progress-value">90<span class="porcent">%</span></div>
                            </div>
                            <h3 class="text-center">CSS</h3>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="espacio">
                            <div class="progress blue">
                                <span class="progress-left">
                                    <span class="progress-bar"></span>
                                </span>
                                <span class="progress-right">
                                    <span class="progress-bar"></span>
                                </span>
                                <div class="progress-value">90<span class="porcent">%</span></div>
                            </div>
                            <h3 class="text-center">PHP</h3>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                            <div class="espacio">
    
                                <div class="progress blue">
                                    <span class="progress-left">
                                        <span class="progress-bar"></span>
                                    </span>
                                    <span class="progress-right">
                                        <span class="progress-bar"></span>
                                    </span>
                                    <div class="progress-value">95<span class="porcent">%</span></div>
                                </div>
                                <h3 class="text-center">Mysql</h3>
                            </div>
                        </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="espacio">

                            <div class="progress green">
                                <span class="progress-left">
                                    <span class="progress-bar"></span>
                                </span>
                                <span class="progress-right">
                                    <span class="progress-bar"></span>
                                </span>
                                <div class="progress-value">85<span class="porcent">%</span></div>
                            </div>
                            <h3 class="text-center">Symfony</h3>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="espacio">
                            <div class="progress green">
                                <span class="progress-left">
                                    <span class="progress-bar"></span>
                                </span>
                                <span class="progress-right">
                                    <span class="progress-bar"></span>
                                </span>
                                <div class="progress-value">85<span class="porcent">%</span></div>
                            </div>
                            <h3 class="text-center">Angular4</h3>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="espacio">

                            <div class="progress yellow">
                                <span class="progress-left">
                                    <span class="progress-bar"></span>
                                </span>
                                <span class="progress-right">
                                    <span class="progress-bar"></span>
                                </span>
                                <div class="progress-value">75<span class="porcent">%</span></div>
                            </div>
                            <h3 class="text-center">jquery</h3>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="espacio">
                            <div class="progress yellow">
                                <span class="progress-left">
                                     <span class="progress-bar"></span>
                                </span>
                                <span class="progress-right">
                                    <span class="progress-bar"></span>
                                </span>
                                <div class="progress-value">75<span class="porcent">%</span></div>
                            </div>
                            <h3 class="text-center">NodeJS</h3>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="separator separator-primary" id="portfolio"></div>
           
        </div>
    </div >

    <div class="container gallery-container" >

        <h1>Portfolio</h1>

        <p class="page-description text-center">Algunos de los trabajos realizados</p>

        <div class="tz-gallery">

            <div class="row">

                <div class="col-sm-6 col-md-4 card">
                    <div class="thumbnail">
                        <a class="lightbox" href="{{ asset('assets/img/examples/edecomindex.jpg') }}">
                                <img src="{{ asset('assets/img/examples/edecomindex.jpg') }}" alt="Park">
                        <div class="caption" >
                            <h3>Sistema de edecom</h3>
                            <p>home del sistema, en esta parte se puede hacer busqueda de todo tipo, imprimir como (csv,exel,pdf, o cumun), filtrar por fechas .</p>
                        </div>
                    </a>
                    
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 card">
                    <div class="thumbnail">
                        <a class="lightbox" href="{{ asset('assets/img/examples/graficosedecom.jpg') }}">
                                <img src="{{ asset('assets/img/examples/graficosedecom.jpg') }}"alt="Park">
                        <div class="caption">
                            <h3>Graficos de edecom</h3>
                            <p>Cuatro tipo de graficos para ver distintas estadisticas de problematicas</p>
                        </div>
                    </a>
                    
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 card">
                    <div class="thumbnail">
                        <a class="lightbox" href="{{ asset('assets/img/examples/mapaedecom.jpg') }}">
                                <img src="{{ asset('assets/img/examples/mapaedecom.jpg') }}" alt="Park">
                        <div class="caption">
                            <h3>Mapa de edecom</h3>
                            <p>Aqui se puede ver todas las problematicas cargadas, con api de google maps, ademas tiene unos filtros y tambien para imprimir el mapa </p>
                        </div>
                    </a>
                    
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 card">
                    <div class="thumbnail">
                        <a class="lightbox" href="{{ asset('assets/img/examples/sanoss.jpg') }}">
                                <img src="{{ asset('assets/img/examples/sanoss.jpg') }}" alt="Park">
                        <div class="caption">
                            <h3> sistema de administracion</h3>
                            <p>Sistema de stock y clientes para comercio de frutos secos.</p>
                        </div>
                    </a>
                    
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 card">
                    <div class="thumbnail">
                        <a class="lightbox" href="{{ asset('assets/img/examples/turno.jpg') }}">
                                <img src="{{ asset('assets/img/examples/turno.jpg') }}" alt="Park">
                        <div class="caption">
                            <h3>Turno Online</h3>
                            <p>Turno para todo tipo de rubro, seleccion de dia y hora .</p>
                        </div>
                    </a>
                    
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 card">
                    <div class="thumbnail">
                        <a class="lightbox" href="{{ asset('assets/img/examples/maraton.jpg') }}">
                                <img src="{{ asset('assets/img/examples/maraton.jpg') }}" alt="Park">
                        <div class="caption">
                            <h3> Pagina de Maraton</h3>
                            <p>Maraton de rio cuarto, inscripcion online</p>
                        </div>
                    </a>
                    
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 card">
                    <div class="thumbnail">
                        <a class="lightbox" href="{{ asset('assets/img/examples/cosorojoindex.jpg') }}">
                                <img src="{{ asset('assets/img/examples/cosorojoindex.jpg') }}" alt="Park">
                        <div class="caption">
                            <h3>index sistema de turnos</h3>
                            <p>Este es un sistema donde puedes crear tu empresa con un modulo de turnos para administrar las solicitudes de turnos de una menera facil, y para varios rubros</p>
                        </div>
                    </a>
                    
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 card">
                    <div class="thumbnail">
                        <a class="lightbox" href="{{ asset('assets/img/examples/cosorojorubros.jpg') }}">
                                <img src="{{ asset('assets/img/examples/cosorojorubros.jpg') }}" alt="Park">
                        <div class="caption">
                            <h3>Rubros</h3>
                            <p>Informacion de cada rubro y seleccion </p>
                        </div>
                    </a>
                    
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 card">
                    <div class="thumbnail">
                        <a class="lightbox" href="{{ asset('assets/img/examples/cosorojocompañia.jpg') }}">
                                <img src="{{ asset('assets/img/examples/cosorojocompañia.jpg') }}" alt="Park">
                        <div class="caption">
                            <h3>Compañia</h3>
                            <p>Vista de la compañia que puedes crear con el sistema de turnos</p>
                        </div>
                    </a>
                    
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 card">
                    <div class="thumbnail">
                        <a class="lightbox" href="{{ asset('assets/img/examples/edecomlogin.jpg') }}">
                                <img src="{{ asset('assets/img/examples/edecomlogin.jpg') }}" alt="Park">
                        <div class="caption">
                            <h3>Login de edecom</h3>
                          
                        </div>
                    </a>
                    
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 card">
                    <div class="thumbnail">
                        <a class="lightbox" href="{{ asset('assets/img/examples/logincosorojo.jpg') }}">
                                <img src="{{ asset('assets/img/examples/logincosorojo.jpg') }}" alt="Park">
                        <div class="caption">
                            <h3>Login de turnos </h3>
                          
                        </div>
                    </a>
                    
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 card">
                    <div class="thumbnail">
                        <a class="lightbox" href="{{ asset('assets/img/examples/loginsanoss.jpg') }}">
                                <img src="{{ asset('assets/img/examples/loginsanoss.jpg') }}" alt="Park">
                        <div class="caption" id="estudios">
                            <h3>Login sistema sanos sabores</h3>
                           
                        </div>
                    </a>
                    
                    </div>
                </div>
            </div>

        </div>

    </div>
     <div class="section section-gray" >
        <div class="container">
            <div class="row">

               <div class="col-lg-2 col-lg-offset-1">
                <h6>EDUCACION:</h6>
               </div>

                <div class="col-lg-6">
                    <h6>Tecnicatura Superior en Desarrollo de Software</h6> <br>
                    ITEC (Instituto Tecnologico Rio Cuarto) <br> <i class="time">3 años (2015-2017)</i>
                </div>

                <div class="col-lg-3">
                   <h6>FIN DE CURSADO DICIEMBRE DE 2017</h6>
                </div>

                <div class="col-lg-2 col-lg-offset-1">
                <h6></h6>
               </div>

                <div class="col-lg-6">
                    <br><h6>Secundario: IPEM-​​ ​ Técnico​ ​ Agropecuario-</h6>
                     <i class="time">6 años (2008-2013.)</i>
                </div>

                <div class="col-lg-3">
                  <br> <h6>FIN DE CURSADO NOVIEMBRE DE 2013</h6>
                </div>

                   <div class="col-lg-2 col-lg-offset-1">
                <h6></h6>
               </div>

                <div class="col-lg-6">
                    <br><h6>Primaria: Capitán​ ​ francisco​ ​ domingo​ ​ zarco​</h6>
                     <i class="time">6 años (2003-2008.)</i>
                </div>

                <div class="col-lg-3">
                  <br> <h6>FIN DE CURSADO NOVIEMBRE DE 2008</h6>
                </div>

            </div>
        </div>
    </div>
    <br>


   <div class="section section-gray" id="contacto">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                            <h1 class="title font-habilidades text-center">Contacto</h1>
                                 <h6><i class="nc-icon nc-mobile"></i> Teléfono:​ ​ 0358-4837484
                                </h6>

                                <br>
                                    <h6> <i class="nc-icon nc-email-85"></i> E-Mail:​ ​ manuelagustinlucero1995@gmail.com
                                </h6>
                                <br>

                                 <h6> <i class=" nc-icon nc-pin-3"></i> Domicilio:​ ​ Baigorria​ ​ 609-Río​ ​ Cuarto.
                                </h6>

                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid " id="flota">
        <div class="row">
            <div class="col-md-12">

                <div class="btn-group">
                    <a href="https://api.whatsapp.com/send?phone=3584837484" class="btn btn-success btn-fab" id="main">
                            <i class="fa fa-whatsapp">
                            </i>
                        </a>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer  main">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                © 2018 Derechos reservados | Manuel Agustin Lucero.

            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
						 Desarrollada por  <span class="color-pagina">Ml</span>webs
                </span>
            </div>
        </div>
    </div>
</footer>
{% endblock %} {% block javascripts %}


<script src="{{ asset('assets/js/jquery-3.2.1.js') }}"></script>
<script src="{{ asset('assets/js/jquery-ui-1.12.1.custom.min.js') }}"></script>
<script src="{{ asset('assets/js/tether.min.js') }}"></script>
<script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/js/paper-kit.js?v=2.0.0') }}"></script>
<script src="{{ asset('assets/js/chareasy.js') }}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');

</script>

<script>
    function oculta() {
        if (pk.misc.navbar_menu_visible == 1) {
            $('html').removeClass('nav-open');
            pk.misc.navbar_menu_visible = 0;
            setTimeout(function () {
                $toggle.removeClass('toggled');
                $('#bodyClick').remove();
            }, 550);
        } else {
            setTimeout(function () {
                $toggle.addClass('toggled');
            }, 580);

            div = '<div id="bodyClick"></div>';
            $(div).appendTo("body").click(function () {
                $('html').removeClass('nav-open');
                pk.misc.navbar_menu_visible = 0;
                $('#bodyClick').remove();
                setTimeout(function () {
                    $toggle.removeClass('toggled');
                }, 550);
            });

            $('html').addClass('nav-open');
            pk.misc.navbar_menu_visible = 1;
        }
    }

</script>
<script>
    popup = {
        init: function () {
            $('figure').click(function () {
                popup.open($(this));
            });

            $(document).on('click', '.popup img', function () {
                return false;
            }).on('click', '.popup', function () {
                popup.close();
            })
        },
        open: function ($figure) {
            $('.gallery').addClass('pop');
            $popup = $('<div class="popup" />').appendTo($('body'));
            $fig = $figure.clone().appendTo($('.popup'));
            $bg = $('<div class="bg" />').appendTo($('.popup'));
            $close = $('<div class="close"><svg><use xlink:href="#close"></use></svg></div>').appendTo($fig);
            $shadow = $('<div class="shadow" />').appendTo($fig);
            src = $('img', $fig).attr('src');
            $shadow.css({ backgroundImage: 'url(' + src + ')' });
            $bg.css({ backgroundImage: 'url(' + src + ')' });
            setTimeout(function () {
                $('.popup').addClass('pop');
            }, 10);
        },
        close: function () {
            $('.gallery, .popup').removeClass('pop');
            setTimeout(function () {
                $('.popup').remove()
            }, 100);
        }
    };

    popup.init()

</script>

<script>
    $(function () {
        $(window).scroll(function () {
            if ($(window).scrollTop() > 2930) {
                $("#flota").fadeOut();
            }
            else {
                $("#flota").fadeIn();
            }
        });
    });

</script>
{% endblock %}